<html>
    <head>
        <style>
body {
  background-color: hsl(89, 43%, 51%);
}
</style>
    </head>
<body>  
    
<h1 style="text-align: center;background-color:LightGray">Details of {{name}}</h1>  
    {% for item in dict%}
       {% if item[0] == name %}
    <form action="/update", method="POST" , method = "GET">
<img style="width: 400px;height400px;margin-left: 20%;" src="{{ url_for('static', filename=item[6]) }}" alt="No Image found"/>
<br>
 <label style="margin-left: 50%;">Name:     </label> 
<input type="text" name="name" style="margin-left: 10%;" value={{item[0]}}>
<br>
<label style="margin-left: 50%;">State:     </label> 
<input type="text" name="state" style="margin-left: 10%;" value={{item[1]}}>
<br>
<label style="margin-left: 50%;">Salary:     </label> 
<input type="text" name="salary" style="margin-left: 10%;" value={{item[2]}}>
<br>
<label style="margin-left: 50%;">Grade:     </label> 
<input type="text" name="grade" style="margin-left: 10%;" value={{item[3]}}>
<br>
<label style="margin-left: 50%;">Room:     </label> 
<input type="text" name="room" style="margin-left: 10%;" value={{item[4]}}>
<br>
 <label style="margin-left: 50%;">Telnum:     </label> 
 <input type="text" name="telnum" style="margin-left: 10%;" value={{item[5]}}>
 <br>
 <label style="margin-left: 50%;">Keywords:     </label> 
 <input type="text" name="keywords" style="margin-left: 10%;" value={{item[7]}}>
 <br>
<br>        
 <input type="submit" id="button" name ="update" style="margin-left: 25%;width: 10%;" value="Update Value">    
 <input type="submit" id="button" name = "update" style="margin-left: 25%;width: 10%;" value="Delete Entry"> 
</form>        
<br>
 <br>
        
        {% endif %}
    {% endfor %}
</body>   
</html>
